<div class='message sent'>
  {{question}}
</div>

<!-- <div -->
<!--   hx-ext='sse' -->
<!--   sse-connect='/stream/{{id}}/{{model}}/{{prompt}}' -->
<!--   class='message received' -->
<!-- > -->
<!-- {{answer}} -->
<!-- </div> -->

<div
  hx-ext='sse'
  sse-connect='/stream/{{id}}/{{model}}'
  sse-swap='message'
  hx-swap='beforeend'
  sse-close='close'
  class='assistant-message'
  id='message-{{id}}'
></div>
